
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;1,100&family=Work+Sans:ital,wght@0,400;1,200&display=swap');

:root {
    --primary-color: #FCD34D;
    --emerald-green: #6EE7B7;
    --off-white: #E5E7EB;
    --grey:#848a94;
}

.main {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: black;

}

body {
    font-family: 'Urbanist', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/** conatiners **/
.container {
    padding: 2.0rem 1.5rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color:#29036e;
}

.msg
{
    background-color: #ffe17d;
    color:black;
}

.btn
{
    background-color: rgba(0, 0, 0, 0.247);
    text-align: center;
    margin: 1rem 0rem;
}