
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,500;1,100&family=Work+Sans:ital,wght@0,400;1,200&display=swap');

:root {
    --primary-color: #FDE68A;
    --emerald-green: #6EE7B7;
    --off-white: #E5E7EB;
    --grey:#848a94;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: var(--primary-color);
    /* padding: 4rem 1rem; */
    text-align: center;
    color: black;
    height: 78vh;
    margin-top: 1rem; 
}

body {
    font-family: 'Urbanist', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}

/** conatiners **/
.container {
    padding: 2.0rem 1.5rem;
    /* margin-top: 5rem; */
}

.container-center {
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color:#29036e;
    font-style: normal;
    margin: 0.8rem;
}

.msg
{
    background-color: #faf3d8;
    color:black;
}

.btn
{
    background-color: white;
    text-align: center;
    margin: 3rem 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: #89a6d8;
    border: 2px solid white;
}

footer{
    text-align: center;
    font-style: italic;
    background-color: rgb(255, 250, 202);
}